<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Hello React!</title>
        <% if (htmlWebpackPlugin.options.isLocal) { %>
        <% } else { %>
        <!-- This is the CDN we use to fetch resources for all environments -->
        <base href="https://jorgewebdeployment.blob.core.windows.net/etisysonline/">
        <% } %>
    </head>
    <body>
        <div id="root"></div>
  </body>
</html>
